DATABASE_URL= "mysql://root:password@localhost:3306/exchange_db"

EXCHANGE_RATE_API_KEY= FAKE_API_KEY
EXTERNAL_API_BASE_URL= https://v6.exchangerate-api.com/v6/
DB_ROOT_PASSWORD= password
DB_NAME= exchange_db
DB_ROOT_USER= root
DB_HOST= localhost
DB_PORT= 3306